<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652506570444-lr1140abfh6krb7dusi6is00h4ula2up.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652506570444-lr1140abfh6krb7dusi6is00h4ula2up</string>
	<key>API_KEY</key>
	<string>AIzaSyATYCURZ-PneDGQ_T8MZFNaQI4DfN1d_ps</string>
	<key>GCM_SENDER_ID</key>
	<string>652506570444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karacaoglu.WhatsUpBC</string>
	<key>PROJECT_ID</key>
	<string>whatsupbc-9279c</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsupbc-9279c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652506570444:ios:fafc7cbcdd6a853d</string>
	<key>DATABASE_URL</key>
	<string>https://whatsupbc-9279c.firebaseio.com</string>
</dict>
</plist>